{% extends '::base.html.twig' %}

{% block body %}
<h5>Hello {{ name|capitalize }} {{ surname|title }}!!</h5>
	<p>
	{{ url }}
	</p>
        <small>
        {% for flashMessage in app.session.flashbag.get('notice') %}
                {{ flashMessage }}
        {% endfor %}
        </small>
        {{ include('::GoodBye.html.twig', {'name' : name}) }}
        <hr>
        {{ render(controller('AcmeHelloBundle:Hello:index', {
            'name' : name
        })) }}
        <a href="{{ path('acme_hello_homepage', {'name':name}) }}">HELLO</a>
{% endblock %}